//fonty

$base-font: 'RobotoSlab', 'sans-serif';
$header-font: 'Montserrat', 'sans-serif';

//kolory

$button-color: #0ed8d6;
$header-font-color: #333333;
$base-font-color: #777777;
$portfolio-bg-color: #f7f7f7;
$icons-color: #222222;